# ======================================================
# GLOBAL
# ======================================================
*.log

# MacOS virus:
*.DS_Store

# Les répertoires varia :
**/varia

# ======================================================
# TEMPO
# ======================================================

# ======================================================
# SÉCURITÉ
# ======================================================

# Dossier et fichiers secrets
**/secrets
*.secrets

# Clés privées / certificats
*.pem
*.key
*.crt
*.cert

# ======================================================
# BACKEND PYTHON
# ======================================================

# Environnements virtuels
**/env
**/venv

# Cache python et notebooks:
**/__pycache__
**/.ipynb_checkpoints

# ======================================================
# BIG DATA
# ======================================================

